<div id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 silver-background">
        <table class="table table-condensed center-text">
          <tr>
            <th>Username</th>
            <td><%= @user.username %></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th>Name</th>
            <td><%= @user.full_name %></td>
          </tr>
        </table>
        <p class="center-text"><%= link_to "Edit User", "/users/edit", class: "btn btn-default" %></p>
      </div>
    </div>
    <div class="row">
      <div class="section_header">
        <h3>My Recent Decks (<a href="/search#?type=deck&username=<%= @user.username %>">All</a>)</h3>
      </div>
    </div>
    <!-- Post Row -->
    <div class="row post_row">
      <!-- Post -->
      <% @user.decks.where(removed: false).each do |deck| %>
      <div class="col-sm-4">
        <div class="post"><br>
          <div class="img">
            <a href="/decks/<%= deck.id %>">
              <img src=<%= deck.deck_cards.find_by(key_card: true).card.image_url %> alt=<%= deck.name %> class="img-responsive center-margin" />
            </a>
          </div>
          <div class="text">
            <h5><a href="/decks/<%= deck.id %>"><%= deck.name %></a></h5>
            <span class="date"><%= deck.dates[:update] %></span>
          </div>
          <a class="plus_wrapper" href="/decks/<%= deck.id %>">
            <span>&#43;</span>
          </a>
        </div>
      </div>
      <% end %>
    </div>
    <div class="row">
      <div class="section_header">
        <h3>My Recent Posts (<a href="/search#?type=post&username=<%= @user.username %>">All</a>)</h3>
      </div>
    </div>
    <!-- Post Row -->
    <div class="row post_row">
      <!-- Post -->
      <% @posts.each do |post| %>
      <div class="col-sm-4">
        <div class="post"><br>
          <div class="img">
            <a href="/posts/<%= post.id %>">
              <img src=<%= post.deck.deck_cards.find_by(key_card: true).card.image_url %> alt=<%= post.deck.name %> class="img-responsive center-margin" />
            </a>
          </div>
          <div class="text">
            <h5><a href="/posts/<%= post.id %>"><%= post.deck.name %></a></h5>
            <span class="date"><%= post.dates[:update] %></span>
            <p>
                  <%= "#{post.post_text[0..120]}#{"..." if post.post_text.length > 121}" %></p>
          </div>
          <a class="plus_wrapper" href="/posts/<%= post.id %>">
            <span>&#43;</span>
          </a>
        </div>
      </div>
      <% end %>
    </div>
  </div>