<div ng-controller="quickSearchCtrl">
  <div id="blog_post">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 silver-background">
          <div class="section_header center-text">
            <h3><%= "#{@deck.name} - #{@deck.archetype.name}" %></h3>
          </div>
          <img class="post_pic img-responsive center-margin" src=<%= @deck.deck_cards.find_by(key_card: true).card.image_url %> >
          <div class="post_content col-md-12">
            <h3><%= "By #{@deck.user.username}" %></h3>
            <span class="date">Updated <%= @deck.dates[:update] %></span>
            <span class="date">Created <%= @deck.dates[:create] %></span>
            <% if current_user.id == @deck.user.id %>
            <%= link_to "Delete Deck", "/decks/#{@deck.id}", method: :delete, class: "btn btn-default" %>
            <%= link_to "Edit Deck", "/decks/#{@deck.id}/edit", class: "btn btn-default" %>
            <% end %>
          </div>
          <div id="decklist" class="post_content col-md-12">
            <h3>Decklist</h3>
            <div class="col-md-6 maindeck">
              <h4>Main Deck:</h4>
              <% @deck.deck_cards.where(removed: false, sideboard: false).each do |deck_card| %>
              <p class="lineheight-5 margin-bottom-0"><%= deck_card.quantity %>
                <a href="#decklist" class="tooltip"><%= deck_card.card.name %>
                  <span>
                    <img src="<%= deck_card.card.image_url %>" class="card-image tooltip-image">
                  </span>
                </a>
              </p>
              <% end %>
            </div>
            <div class="col-md-6">
              <h4>Sideboard:</h4>
              <% @deck.deck_cards.where(removed: false, sideboard: true).each do |deck_card| %>
              <p ><%= deck_card.quantity %>
                <a href="#decklist" class="tooltip"><%= deck_card.card.name %>
                  <span>
                    <img src="<%= deck_card.card.image_url %>" class="card-image tooltip-image">
                  </span>
                </a>
              </p>
              <% end %>
            </div>
          </div>
          <div class="comments col-md-12">
            <% @comments.each do |comment| %>
            <div class="comment">
              <div class="row">
                <div class="col-sm-12">
                  <div class="name"><%= comment.user.username %></div>
                  <div class="date"><%= comment.dates[:create] %></div>
                  <div class="response"><%= comment.comment_text %></div>
                </div>
              </div>
            </div>
            <% end %>
            <% if current_user %>
            <div class="new_comment">
              <h4>Add Comment</h4>
              <%= form_tag "/comments", method: :post do %>
              <div class="row">
                <div class="col-sm-12">
                  <%= text_area_tag :comment_text,"", rows: "7", class: "form-control add-comment" %>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-12">
                  <%= submit_tag "Add Comment", class: "btn btn-default send" %>
                </div>
              </div>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
          <datalist id="card_names" ng-if="cardName"><option ng-repeat="card in searchedCards">{{card.name}}</option></datalist>
          <div class="sidebar">
            <div class="box">
              <div class="sidebar_header center-text"><h3>Quick Card Lookup</h3></div>
              <div class="box last">
                <div class="sidebar_header center-text">
                  <div class="search-image">
                    <img ng-src="{{foundCardImageURL}}" ng-if="cardName" class="img-responsive center-margin ">
                  </div>
                  <div class="search-copy">
                    <h4 class="left-indent">Card Name:</h4>
                    <p><input list="card_names" ng-model="cardName" ng-keyup="lookUpCard(cardName)" class="form-control" autocomplete="on"></p>
                    <h3 ng-if="cardName" class="center-text">{{foundCardName}}</h3>
                    <button ng-if="cardName" clipboard text="foundCardName" on-copied="success()" on-error="fail(err)" class="btn btn-default">Copy Card Name</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>