<!DOCTYPE html>
<html>
<head>
  <title>Match Post MtG</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= current_user.user_type.name if current_user %>">
  <div ng-app="app">
    <header>
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid padding-side-50">
          <div class="navbar-header">
            <a href="/" class="navbar-brand"><strong class="lightgray">MATCH POST MTG</strong></a>
          </div>

          <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">All<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "All Decks", "/decks/" %></li>
                    <li><%= link_to "All Match Results", "/posts/" %></li>
                    <% if current_user %>
                    <% if current_user.admin? %>
                    <li><%= link_to "All Archetypes", "/archetypes" %></li>
                    <li><%= link_to "All Formats", "/formats" %></li>
                    <% end %>
                    <% end %>
                  </ul>
                </li>
              <% if current_user %>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "New Deck", "/decks/new" %></li>
                    <li><%= link_to "New Match Result", "/posts/new" %></li>
                    <% if current_user.admin? %>
                    <li><%= link_to "New Archetype", "/archetypes/new" %></li>
                    <li><%= link_to "New Format", "/formats/new" %></li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
              <li><a href="/search">Search</a></li>
              <% if current_user %>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%="#{current_user.username[0..6]}#{"..." if current_user.username.length > 7}" %><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "My Profile", "/users/#{current_user.id}" %></li>
                    <li><%= link_to "My Decks", "/search#?type=deck&username=#{current_user.username}" %></li>
                    <li><%= link_to "My Posts", "/search#?type=post&username=#{current_user.username}" %></li>
                    <li><%= link_to "Edit Profile", "/users/edit" %></li>
                    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                  </ul>
                </li>
              <% else %>
                <li><a href="/users/sign_up">Sign up</a></li>
                <li><a href="/users/sign_in">Sign in</a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <% flash.each do |name, message| %>
        <div class = "container-fluid">
          <div class = "alert alert-<%= name %> alert-dismissible" role = "alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= message %>
          </div>
        </div>
      <% end %>
    </header>
    <%= yield %>
    <!-- starts footer -->
    <footer id="footer">
      <div class="container">
        <div class="row info">
          <div class="col-sm-6 residence">
            Magic: the Gathering and all related images and cards are owned by Wizards of the Coast.

          </div>
          <div class="col-sm-5 touch">
            <ul>
              <li><strong>Email:</strong><a href="mailto:matchpostmtg@gmail.com">matchpostmtg@gmail.com</a></li>
            </ul>
          </div>
        </div>
        <div class="row credits">
          <div class="col-md-12">
            <div class="row copyright">
              <div class="col-md-12">
                2016 Match Post MtG
              </div>
            </div>
          </div>            
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-latest.js"></script>
  </div>
</body>
</html>